@model Yara.MvcClient.Models.View.MemoListModel;

@{
    ViewData["Title"] = "Postings";
}


<div class="text-center">
    <h1 class="display-4">These are your recent postings</h1>
    
    <div class="row">
        @if (Model.Memos.Count() == 0)
        {
            <text>No memos were found.</text>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr class="columnHeader">
                        <th>Title</th>
                        <th>Body</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.Memos)
                </tbody>
            </table>
        }
    </div>
</div>
