
  <mat-toolbar color="primary" >
    
    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
      <fa-icon icon="bars"></fa-icon>
    </button>

    <span class="d-none d-md-inline">
      <button mat-icon-button routerLink="/home"
        routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </button>
    </span>

    <span class="d-none d-md-inline">
      <button mat-button class="nav-button" routerLink="/postings"
        routerLinkActive="active">
        Postings
      </button>
    </span>    

    <button mat-icon-button class="ms-auto"
            [matMenuTriggerFor]="toolbarUserMenu">
      <fa-icon icon="user-circle"></fa-icon>
    </button>
    <mat-menu #toolbarUserMenu="matMenu">
      <a mat-menu-item href="/bff/login">
        <fa-icon icon="sign-in"></fa-icon>
        <span>login</span>
      </a>
      <a mat-menu-item [href]="logoutUrl">
        <fa-icon icon="sign-out"></fa-icon>
        <span>logout</span>
      </a>
    </mat-menu>

    <button mat-icon-button routerLink="/settings">
      <fa-icon icon="cog"></fa-icon>
    </button>
  </mat-toolbar>
  