<div class="container">
    <!-- <app-user-session *ngIf="session$ | async"
    [session]="session$ | async">
    </app-user-session> -->
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
          <tr>
            <th>Type</th>
            <th>Value(C)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let claim of session$ | async">
            <td>{{ claim.type }}</td>
            <td>{{ claim.value }}</td>
          </tr>
        </tbody>
      </table>
</div>
