<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" [size]="1.5"></app-loader>
        <ul [hidden]="isLoading">
          <li *ngFor="let memo of memos">{{ memo.title }} - {{ memo.body }}</li>
        </ul>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
